In [ ]:
# Cezary Karczewski 229268 Analiza Danych

In [19]:
import pandas as pd
import numpy

In [31]:
data = pd.read_csv('breast-cancer.csv')

In [32]:
data.head()

,Class,age,menopause,Tumor-size,Inv-nodes,Node-caps,Deg-malig,breast,Breast-quad,irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no

In [33]:
data.describe()

        Deg-malig
count  286.000000
mean     2.048951
std      0.738217
min      1.000000
25%      2.000000
50%      2.000000
75%      3.000000
max      3.000000

In [34]:
print(data)

                    Class    age menopause Tumor-size Inv-nodes Node-caps  \
0    no-recurrence-events  30-39   premeno      30-34       0-2        no
1    no-recurrence-events  40-49   premeno      20-24       0-2        no
2    no-recurrence-events  40-49   premeno      20-24       0-2        no
3    no-recurrence-events  60-69      ge40      15-19       0-2        no
4    no-recurrence-events  40-49   premeno        0-4       0-2        no
..                    ...    ...       ...        ...       ...       ...
281     recurrence-events  30-39   premeno      30-34       0-2        no
282     recurrence-events  30-39   premeno      20-24       0-2        no
283     recurrence-events  60-69      ge40      20-24       0-2        no
284     recurrence-events  40-49      ge40      30-34       3-5        no
285     recurrence-events  50-59      ge40      30-34       3-5        no

     Deg-malig breast Breast-quad irradiat
0            3   left    left_low       no
1            2  right    right_up       no
2            2   left    left_low       no
3            2  right     left_up       no
4            2  right   right_low       no
..         ...    ...         ...      ...
281          2   left     left_up       no
282          3   left     left_up      yes
283          1  right     left_up       no
284          3   left    left_low       no
285          3   left    left_low       no

[286 rows x 10 columns]

In [35]:
pd = data.to_numpy()

In [36]:
print(pd)

[['no-recurrence-events' '30-39' 'premeno' ... 'left' 'left_low' 'no']
 ['no-recurrence-events' '40-49' 'premeno' ... 'right' 'right_up' 'no']
 ['no-recurrence-events' '40-49' 'premeno' ... 'left' 'left_low' 'no']
 ...
 ['recurrence-events' '60-69' 'ge40' ... 'right' 'left_up' 'no']
 ['recurrence-events' '40-49' 'ge40' ... 'left' 'left_low' 'no']
 ['recurrence-events' '50-59' 'ge40' ... 'left' 'left_low' 'no']]

In [37]:
data.loc[10:15,:]

,Class,age,menopause,Tumor-size,Inv-nodes,Node-caps,Deg-malig,breast,Breast-quad,irradiat
10,no-recurrence-events,40-49,premeno,0-4,0-2,no,3,left,central,no
11,no-recurrence-events,50-59,ge40,25-29,0-2,no,2,left,left_low,no
12,no-recurrence-events,60-69,lt40,10-14,0-2,no,1,left,right_up,no
13,no-recurrence-events,50-59,ge40,25-29,0-2,no,3,left,right_up,no
14,no-recurrence-events,40-49,premeno,30-34,0-2,no,3,left,left_up,no
15,no-recurrence-events,60-69,lt40,30-34,0-2,no,1,left,left_low,no

In [38]:
data.isnull().mean() * 100

Class          0.0
age            0.0
menopause      0.0
Tumor-size     0.0
Inv-nodes      0.0
Node-caps      0.0
Deg-malig      0.0
breast         0.0
Breast-quad    0.0
irradiat       0.0
dtype: float64

In [39]:
data.isnull().sum()

Class          0
age            0
menopause      0
Tumor-size     0
Inv-nodes      0
Node-caps      0
Deg-malig      0
breast         0
Breast-quad    0
irradiat       0
dtype: int64